HELLOOPO!!!

<div class="container-fluid">
    <div class="row">

        <div class="col-md-10">
            <!--Body content-->


            <ul class="phones">
                <li ng-repeat="phone in phones">
                    <span>{{phone.price}}</span>
                    <span>{{phone.rooms}}</span>
                    <p>{{phone.an}}</p>
                    <p>{{phone._desc}}</p>

                </li>
            </ul>



        </div>
    </div>
</div>
